.entities
.local
.objects
.project
.settings
.templates
.tmh
.entities/**
.local/**
.objects/**
.project/**
.settings/**
.templates/**
.tmh/**


reference Excel sheets/SchoolReport/~$classdetails.xlsx
